body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  text-align: center;
  max-width: 300px;
  width: 100%;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #444;
  line-height: 1.5;
}

select,
.input-group input,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 14px;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-group {
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

button {
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #333;
}
